.buttons {
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.reload-button  {
	display: inline-block;
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 20px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
}

.btn-contact {
	background-color: #009dff;
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 43px;
	cursor: pointer;
	border-radius: 4px;
	
}
svg.loader {
	--size: 3em;
	text-align: center;
	padding: 2em;
	z-index: 10;
  }
  .reload-button .loader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
  }
  .clicked {
	color: transparent;
  }
  /* svg path,
svg rect{
	  fill: #FF6700;
	} */
/* .btn-refresh.clicked {
	background-color: #ff0000;
} */

.btn-refresh:hover {
	background-color: #038f0a;
}

.submit {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 25px 2px;
	cursor: pointer;
	border-radius: 4px;
}
.submit:hover {
	background-color: #038f0a;
}