.btn-refresh {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 15px 15px;
	cursor: pointer;
	border-radius: 4px;
}
.btn-contact {
	background-color: #009dff;
	border: none;
	color: white;
	padding: 10px 10px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 4px 43px;
	cursor: pointer;
	border-radius: 4px;
}

.btn-refresh.clicked {
	background-color: #ff0000;
}

.btn-refresh:hover {
	background-color: #038f0a;
}

.submit {
	background-color: #4caf50;
	border: none;
	color: white;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	margin: 25px 2px;
	cursor: pointer;
	border-radius: 4px;
}
.submit:hover {
	background-color: #038f0a;
}