.trans-option {
    line-height: 1.6;
    text-align: center;
    max-width: fit-content;
    display: block;
}
.info {
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.status-sp {
    margin-top: 0px;
    font-weight: 800;
}
.akcent {
    font-weight: 600;
}
.redSt {
    color: red;
}
.coralSt {
    color: coral;
}
.greenSt {
    color: green;
}
